/* Estilos Generales */

*{
    margin:0px;
    box-sizing:border-box;
    font-family: Roboto,sans-serif;
    padding: 0px;
}
/* Variables de color */
:root {
    --bg-color: #0B192C;
    --text-color: #000000;
    --bg-second-color: #FF6500;
    --text-second-color: #ffff;
    --bg-tercia-color: #1E3E62;
  }

  .header {
    background-color: var(--bg-second-color);
    padding: 20px;
  }
  .logo img {
    width: 120px;
  }


/* ========================
   NAVEGACIÓN
   ======================== */
   .navbar {
    background-color: var(--bg-second-color); /* Fondo de la barra de navegación */
}

.navbar-nav .nav-link {
    color: var(--text-second-color); /* Color de los enlaces de navegación */
    font-size: 1.2rem; /* Tamaño de la fuente de los enlaces */
    transition: background-color 0.3s; /* Transición suave para el fondo en hover */
}

.navbar-nav .nav-link:hover {
    color: yellow; /* Color del texto al pasar el mouse */
}

/* ========================
   BARRA DE BÚSQUEDA
   ======================== */
.search-bar {
    max-width: 300px; /* Ancho máximo de la barra de búsqueda */
    width: 100%; /* Ancho completo dentro de su contenedor */
}

/*Media Query*/ 
@media (max-width: 768px) {

    .imagen1{
        width: 100%;
        height: 100%;
    }
    
    .mb-3{
        float: left;
        width: 100%;
        height: 100%;
        margin-left: 30px;
              
    }
    .a1{
        width: 45%;
        height: auto;
    }
    .netitulo {
        font-size: 1.8rem;
    }

    .grupo1 {
        grid-template-columns: 1fr; /* Columna única en móviles */
    }

    .secciones {
        flex-direction: column; /* Cambiar a columna en móviles */
        align-items: center; /* Centrar elementos */
    }
}


/*Body*/

    .contenedorprincipal{
        background-color: var(--bg-color);
        width: auto;
        height: 56rem;
       
        
    }
    
    .netitulo{
        color: var(--bg-second-color);
        text-align: center;
        padding: .5rem;
        font-size: 40px;
    }

 /*ARTICULO 1 */
    .imagen1{
        float: left;
        width: 47%;
        height: auto;
        margin-left: 30px;
              
    }

    .a1{
        width: 34rem;
        height: 26.4rem;
    }

.card-titlep{
    text-align: center;
    font-size: 24px;
    color: var(--bg-tercia-color);
}

 /*ARTICULO 2 - 5 */
.grupo1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    float: right;
    place-self: center;
    gap: 1px;
    
}

.card-title1{
    text-align: justify;
    font-size: 16px;
    color: var(--bg-tercia-color);
}

/*SECCIONES*/

.secciones{
    display: flex;
    flex-direction: row;
    float: inline-end;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 30px;
    padding-right: 59px;
}

.card-title2{
    text-align: center;
    font-size: 18px;
    color: var(--bg-second-color)
}

.is{
    width: 12rem;
    height: 10rem;
}
    
.mb-3{
    transition: transform 0.3s ease;
}

.mb-3:hover {
    transform: scale(1.08); 
}

  