*{
    margin:0px;
    box-sizing:border-box;
    font-family: Roboto,sans-serif;
    padding: 0px;
}

:root {
    --bg-color: #0B192C;
    --text-color: #000000;
    --bg-second-color: #FF6500;
    --text-second-color: #ffff;
    --bg-tercia-color: #1E3E62;
  }


    /* Banner */
    .contenedorinicial{
        height: 5em;
        width: 100%;
        background-color: var(--bg-second-color);
        display: flex;
        justify-content: space-evenly;
        align-items: center;   
    }
    
    .logo{
    
        width: 6rem;
        height: 6rem;
    }
    
    .inicio{
        color: white;
        text-decoration: none;
        font-weight: 400
    }
    
    .quienessomos{
        color: white;
        text-decoration: none;
        font-weight: 400
    }
    
    .entrenadores{
        color: white;
        text-decoration: none;
        font-weight: 400
    }
    
    .tienda{
        color: white;
        text-decoration: none;
        font-weight: 400
    }
    .login{
        color: white;
        text-decoration: none;
        border-radius: 15%;
        background-color: var(--text-color);
        height: 1.5rem;
        width: 4rem;
        text-align: center;
        font-weight: 400
       
    }
    
    .creacuenta{
        color: var(--text-second-color);
        text-decoration: none;
        border-radius:15%;
        background-color: var(--bg-color);
        height: 1.5rem;
        width: 10rem;
        text-align: center;
        font-weight: 400
    }
    
    /*Body*/

    .contenedorprincipal{
        background-color: var(--bg-color);
        width: auto;
        height: 56rem;
       
        
    }
    
    .netitulo{
        color: var(--bg-second-color);
        text-align: center;
        padding: .5rem;
        font-size: 40px;
    }

 /*ARTICULO 1 */
    .imagen1{
        float: left;
        width: 47%;
        height: auto;
        margin-left: 30px;
              
    }

    .a1{
        width: 34rem;
        height: 26.4rem;
    }

.card-titlep{
    text-align: center;
    font-size: 24px;
    color: var(--bg-tercia-color);
}

 /*ARTICULO 2 - 5 */
.grupo1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 50%;
    float: right;
    place-self: center;
    gap: 1px;
    
}

.card-title1{
    text-align: justify;
    font-size: 16px;
    color: var(--bg-tercia-color);
}

/*SECCIONES*/

.secciones{
    display: flex;
    flex-direction: row;
    float: inline-end;
    width: 100%;
    justify-content: space-between;
    margin-top: 2%;
    padding-left: 30px;
    padding-right: 59px;
}

.card-title2{
    text-align: center;
    font-size: 18px;
    color: var(--bg-second-color)
}

.is{
    width: 12rem;
    height: 10rem;
}
    
.mb-3{
    transition: transform 0.3s ease;
}

.mb-3:hover {
    transform: scale(1.08); 
}

/*Footer
    /*Caja fondo footer*/
    .contenedorfinal{
        background-color: var(--text-color);
        width: 100%;
        height: vh;
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
     /*Caja texto footer*/
    .textofinal{
       margin: 10px;
       color: var(--text-second-color);

    }
   /*caja contenedor redes sociales*/
   .media{
        display: flex;
        justify-content: space-evenly;  
        margin: 10px;  
    }
    /*espacio entre cajas del footer*/
    .horario, .redessociales, .email, .contacto{
        margin: 10px;
    }
    /*color ícono reloj*/
    .bi-alarm{
        color: red;
    }
   /*estilos de texto*/
    .textohorario,  .sigueme, .textoemail, .textocontacto{
        font-weight: 650;
        color: white;   
    }
  