
/*main*/
    .main{
        padding: 5%;
        height: auto;
        margin: auto;
    
    }


    .misionVision h1 {
        text-align: center;
        color: var(--bg-second-color);
        font-size: 40px;

    }

    .misionVision h2 {
        text-align: left;
        color: var(--bg-second-color);
        margin-bottom: 5%;
        font-size: 32px;
    }

    .misionVision .row {
        margin-top: 30px;
        gap: 5%;
    }

    .misionVision p {
        color: var(--text-second-color);
        font-size:18px;
        line-height: 1.6rem;
        margin-bottom: 5%;
        text-align: justify;
    }

    .misionVision .row .card{
        background-color: var(--text-second-color);
        border-radius: 10px;
 
    }


    .img-representativa img {
        max-width: 100%;
        height: auto;

    }

    .testimonios .card {
        background-color: var(--text-second-color);
        border: none;
        border-radius: 10px;
        width: 40vw;

    }

    .testimonios p {
        font-size:18px;
        text-align: center;
        color: var(--text-color);
        margin: 2%;
    }

    .testimonios h1{
        color: var(--bg-second-color);
        font-size: 3rem;
        font-size: 40px;
    }



