/* ========================
   VARIABLES DE COLOR
   ======================== */
   :root {
    --bg-color: #0B192C; /* Color de fondo principal */
    --text-color: #000000; /* Color de texto principal */
    --bg-second-color: #FF6500; /* Color de fondo secundario (navbar y botones) */
    --text-second-color: #FFFFFF; /* Color de texto secundario */
}

/* ========================
   ESTILOS GENERALES
   ======================== */
body {
    font-family: 'Roboto', sans-serif; /* Fuente general de la página */
    background-color: var(--bg-color); /* Fondo de la página */
    color: var(--text-second-color); /* Color de texto de la página */
}

/* ========================
   NAVEGACIÓN
   ======================== */
.navbar {
    background-color: var(--bg-second-color); /* Fondo de la barra de navegación */
}

.navbar-nav .nav-link {
    color: var(--text-second-color); /* Color de los enlaces de navegación */
    font-size: 1.2rem; /* Tamaño de la fuente de los enlaces */
    transition: background-color 0.3s; /* Transición suave para el fondo en hover */
}

.navbar-nav .nav-link:hover {
    color: yellow; /* Color del texto al pasar el mouse */
}

/* ========================
   BARRA DE BÚSQUEDA
   ======================== */
.search-bar {
    max-width: 300px; /* Ancho máximo de la barra de búsqueda */
    width: 100%; /* Ancho completo dentro de su contenedor */
}

/* ========================
   ANIMACIONES
   ======================== */
.icon-blink {
    animation: blink-animation 1.5s infinite alternate; /* Animación de parpadeo */
}

@keyframes blink-animation {
    0% {
        opacity: 1; /* Opacidad completa */
    }
    100% {
        opacity: 0.5; /* Opacidad reducida */
    }
}

/* ========================
   TÍTULOS SECCIONES
   ======================== */
.section-title {
    text-align: center; /* Centrado del título */
    font-size: 2.5rem; /* Tamaño del título principal */
    margin: 20px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita */
    color: var(--text-second-color); /* Color del texto */
}

.sub-title {
    text-align: center; /* Centrado del subtítulo */
    font-size: 2rem; /* Tamaño del subtítulo */
    margin: 10px 0; /* Margen superior e inferior */
    font-weight: bold; /* Negrita */
    background-color: #111; /* Fondo negro brillante */
    color: #FF6500; /* Color de texto */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados opcional */
}

/* Estilos personalizados para el contenedor del video */
.video-container {
    position: relative;
    padding-bottom: 56.25%; /* Aspect ratio 16:9 */
    height: 0;
    overflow: hidden;
    transition: transform 0.3s ease; /* Transición para el efecto de zoom */
}

.video-container:hover {
    transform: scale(1.1); /* Zoom al pasar el mouse */
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Estilos para títulos */
.card-header {
    font-size: 1.5rem;
    font-weight: bold;
}

.image-container {
    position: relative;
    overflow: hidden; /* Para ocultar el desbordamiento del zoom */
    transition: transform 0.3s ease; /* Transición para el efecto de zoom */
}

.image-container:hover {
    transform: scale(1.1); /* Zoom al pasar el mouse */
}

.image-container img {
    width: 100%;
    height: auto;
}

.description {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    width: 100%;
    text-align: center;
    padding: 10px;
}

/* ========================
   FOOTER
   ======================== */
footer {
    background: radial-gradient(circle, #000000, #0a0a0a, #000000); /* Fondo degradado */
    font-family: 'Roboto', sans-serif; /* Fuente del footer */
    color: #fff; /* Color del texto */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.7); /* Sombra del footer */
    padding: 40px 0; /* Espaciado interno */
}

footer a {
    color: #fff; /* Color de los enlaces en el footer */
    transition: color 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

footer a:hover {
    color: #ff6500; /* Color de los enlaces al pasar el mouse */
    transform: scale(1.2); /* Efecto de escala al pasar el mouse */
}
