/* Estilos Generales */

*{
    margin:0px;
    box-sizing:border-box;
    font-family: Roboto,sans-serif;
    padding: 0px;
}

/* Variables de color */

:root {
    --bg-color: #0B192C;
    --text-color: #000000;
    --bg-second-color: #FF6500;
    --text-second-color: #ffff;
    --bg-tercia-color: #1E3E62;
  }

  .header {
    background-color: var(--bg-second-color);
    padding: 20px;
  }
  .logo img {
    width: 120px;
  }



/* ========================
   NAVEGACIÓN
   ======================== */
   .navbar {
    background-color: var(--bg-second-color); /* Fondo de la barra de navegación */
}

.navbar-nav .nav-link {
    color: var(--text-second-color); /* Color de los enlaces de navegación */
    font-size: 1.2rem; /* Tamaño de la fuente de los enlaces */
    transition: background-color 0.3s; /* Transición suave para el fondo en hover */
}

.navbar-nav .nav-link:hover {
    color: yellow; /* Color del texto al pasar el mouse */
}

/* ========================
   BARRA DE BÚSQUEDA
   ======================== */
.search-bar {
    max-width: 300px; /* Ancho máximo de la barra de búsqueda */
    width: 100%; /* Ancho completo dentro de su contenedor */
}



    
    /*Body*/

    .contenedorprincipal{
        background-color: var(--bg-color);
        width: auto;
        height: 42rem;
       
        
    }
    
    .netitulo{
        color: var(--bg-second-color);
        text-align: center;
        padding: .5rem;
        font-size: 40px;
    }

    .entrenadores1, .entrenadores2{
        display: flex;
        flex-direction: row;
        align-content: space-around;
        justify-content: center;
        
    }

    .mb-3{
        text-align: justify;
        margin: 10px;
        
        
    }
/* diseño tarjetas
    .g-0{
        background-color: var(--bg-second-color);
        margin: 0;
        color: var(--text-second-color);
    }

    */
.card-title{
    text-align: center;
    font-size: 24px;
    color: var(--bg-tercia-color);
}

.card-text{
    font-size: 16px;

}


@media (max-width: 600px) {
    .contenedorprimario{
        height: 225rem;
    
    
    }

}
    
    
/*Footer*/
    /*Caja fondo footer*/
    .contenedorfinal{
        background-color: var(--text-color);
        width: 100%;
        height: vh;
        display: flex;
        align-content: center;
        justify-content: center;
        text-align: center;
    }
     /*Caja texto footer*/
    .textofinal{
       margin: 10px;
       color: var(--text-second-color);

    }
   /*caja contenedor redes sociales*/
    .media{
        display: flex;
        justify-content: space-evenly;  
        margin: 10px;  
    }
    /*espacio entre cajas del footer*/
    .horario, .redessociales, .email, .contacto{
        margin: 10px;
    }
    /*color ícono reloj*/
    .bi-alarm{
        color: red;
    }
   /*estilos de texto*/
    .textohorario,  .sigueme, .textoemail, .textocontacto{
        font-weight: 650;
        color: white;   
    }
