/*
:root{
    --color-primary: #007bff;
    --color-secondary:#28A745 ;
    --color-background: #F8F9FA;
    --color-principal: #212529;
    --color-secondary-text: #6C757D;
    --color-exit: #17A2B8;
    --color-warning:  #FFC107;
    --orange: #eb5c3c;

}
*/

/* Estilos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --orange: #FF6500;
    --dark-color: #1A1F2B;
    --white-color: #fffefb;
}

body {
    background-color: #1A1F2B;
    display: flex;
    flex-direction: column;
}
.header {
    background-color: var(--orange);
    height: 8vh;
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    width: 10%; 
    height: 7vh; 
    background-image: url(../img/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.nav .nav-link {
    color: var(--white-color);
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav .nav-link:hover {
    color: var(--dark-color);
}

.botones {
    display: flex;
    gap: 10px;
    border-radius: 30%;
}

.buscar {
    position: relative;
    display: flex;
    align-items: center;
}

.buscar input {
    border-radius: 20px;
    padding: 5px 30px 5px 10px; /* Ajuste para dejar espacio al icono */
    width: 150px;
    border: none;
    outline: none;
}

.buscar .close-icon {
    position: absolute;
    right: 10px;
    cursor: pointer;
    font-size: 1rem;
    color: var(--dark-color);
}


/* Sección "¿Quiénes somos?" */
.quienes-somos {
    background-color: #1A1F2B; /* Color oscuro */
    color: white;
    padding: 50px 0;
}

.quienes-somos h1 {
    font-size: 2.5rem;
    margin-bottom: 4%;

}

.quienes-somos p {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 15px;
}

.quienes-somos img {
    border-radius: 8px;
    margin-bottom: 10px;
    width: 100%;
}

.quienes-somos .row {
    margin-bottom: 20px;
}

.quienes-somos .row p {
    text-align: justify;
    margin-top: 10px;
}

.quienes-somos .btn {
    background-color: var(--orange);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
}

.quienes-somos .btn:hover {
    background-color: #f05423;
    transition: background-color 0.3s ease;
}

/* Sección Misión, visión, testimonios*/

.general{
    background-color: #1A1F2B; /* Color oscuro */
    color: white;

}

.general h1{
    text-align: center;
    margin-top: 3%;
}

.testimonios{
    height: 40vh;
}
.testimonios .carousel-item {
    background-image: url(../img/logo.png);
}


.footer {
        background-color: var(--orange);
        height: 8vh;
        display: flex;
        align-items: center;
        margin-top: 51%;
        width: 100%;
}


.logo-footer {
    width: 10%;
    height: 7vh;
    margin-left: -5%;
    background-image: url(../img/logo2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
